@font-face {
  font-family: "Pretendard-Medium";
  src: url("./Pretendard//Pretendard-Medium.woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("./Pretendard//Pretendard-Regular.woff2");
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("./Pretendard//Pretendard-Thin.woff2");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./Pretendard//Pretendard-ExtraLight.woff2");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./Pretendard//Pretendard-Bold.woff2");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./Pretendard//Pretendard-SemiBold.woff2");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./Pretendard//Pretendard-ExtraBold.woff2");
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("./Pretendard//Pretendard-Black.woff2");
}
