@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../font/font.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Pretendard-Medium", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 16px;
  > * {
    cursor: pointer;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  font-family: "Pretendard-Medium";
  color: grey;
}

.pagination__link__active {
  font-family: "Pretendard-Black";
  color: #303948;
}
